{% extends 'accounts/base/base.html' %}

{% block title %}{{ block.super }} Portfolio{% endblock title %}

{% block mainName %} Portfolio {% endblock %}

{% block active_portfolio %}active{% endblock active_portfolio %}

{% block content_inner %}
<div class="content-inner content-inner-portfolio">
    <form action="" method="get">
        <div class="content-inner content-inner-portfolio">
            <div class="content-filter">
                <div class="content-filter-item">
                    <label for='search_box' class="search-label">Search</label>
                    <input type='text' id='search_box' placeholder="Search Here..." name="search" value='{{request.GET.search}}'>
                </div>
                <div class="content-filter-item">
                    <label for='level_select' class="search-label">Level</label>
                    <select name="level_select" id="level_select">
                        <option value="all" {% if 'all' == request.GET.level_select %}selected{% endif %}>all</option>
                        <option value="small" {% if 'small' == request.GET.level_select %}selected{% endif %}>small</option>
                        <option value="medium" {% if 'medium' == request.GET.level_select %}selected{% endif %}>medium</option>
                        <option value="huge" {% if 'huge' == request.GET.level_select %}selected{% endif %}>huge</option>
                    </select>
                </div>
                <button class="searchBtn noselect" style="background: #5f5f5f;"><span class='text'>Search</span><span class="icon"><i class="fas fa-search" style="color: whitesmoke;"></i></span></button>
            </div>
        </div>
    </form>
    <div class="projects">
        {% for project in projects %}
            <a href="{% url 'portfolio_view' project.pk %}" target="_blank" style="text-decoration: none;">
                <div class="project project{{project.id}}" >
                    <div class="project-head">
                        <h2 class="project-title">{{project.name}}</h2>
                        <div style="color: #5f5f5f71; font-size: 12px">
                            <i class="far fa-clock" style="margin-right: 10px;"></i><span>{{project.finish_time|timeuntil}}</span>
                        </div>
                    </div>
                    <div class="prject-footer">
                        <div class="project-team">
                            <span>Team</span>
                            <span class="team-pics" style="font-size: 10px; color: #5f5f5f71;">
                                {% if project.members.all|slice:':3' %}
                                    {% for member in project.members.all %}
                                    <div class="team-pic" style="background-image: url({{member.profile.avatar.url}});"></div>
                                    {% endfor %}
                                {% else %}
                                    ...
                                {% endif %}
                            </span>
                        </div>
                        <div class="project-progress">
                            <span>Progress</span>
                            <span style="font-size: 10px; color: #5f5f5f71;">96%</span>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock content_inner %}