{% extends 'accounts/base/base.html' %}

{% block title %}{{ block.super }} home{% endblock title %}

{% block mainName %} Resume {% endblock %}

{% block active_resume %}active{% endblock active_resume %}

{% block content_inner %}
<div class="content-inner">
    <h3 class="heading">Experience</h3>
    <div class="content-inner-experience">
        <div>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>
            <div class="border-left margin-left-1 padding-right-1">

                <h4>Django Developer</h4>
                <h5 class="work-at">GDSC</h5>
                <p class="about-work">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nostrum repudiandae excepturi
                    saepe neque eius at distinctio reiciendis blanditiis odio. Rem itaque blanditiis provident et
                    obcaecati accusantium, magnam quae. Illo!
                </p>
            </div>
            </p>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>

        </div>
    </div>
    <div class="content-inner-experience">
        <div>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>
            <div class="border-left margin-left-1 padding-right-1">

                <h4>Django Developer</h4>
                <h5 class="work-at">GDSC</h5>
                <p class="about-work">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nostrum repudiandae excepturi
                    saepe neque eius at distinctio reiciendis blanditiis odio. Rem itaque blanditiis provident et
                    obcaecati accusantium, magnam quae. Illo!
                </p>
            </div>
            </p>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>

        </div>
    </div>
    <hr />
    <h3 class="heading">Education</h3>
    <div class="content-inner-education">
        <div>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>
            <div class="border-left margin-left-1 padding-right-1">

                <h4>Django Developer</h4>
                <h5 class="work-at">GDSC</h5>
                <p class="about-work">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nostrum repudiandae excepturi
                    saepe neque eius at distinctio reiciendis blanditiis odio. Rem itaque blanditiis provident et
                    obcaecati accusantium, magnam quae. Illo!
                </p>
            </div>
            </p>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>

        </div>
    </div>
    <div class="content-inner-education">
        <div>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>
            <div class="border-left margin-left-1 padding-right-1">

                <h4>Django Developer</h4>
                <h5 class="work-at">GDSC</h5>
                <p class="about-work">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nostrum repudiandae excepturi
                    saepe neque eius at distinctio reiciendis blanditiis odio. Rem itaque blanditiis provident et
                    obcaecati accusantium, magnam quae. Illo!
                </p>
            </div>
            </p>
            <span class="large-text date"><i class="far fa-calendar-alt "></i> 2020</span>

        </div>
    </div>
</div>
{% endblock content_inner %}