.border-left {
    border-left: 1px #c3c3c394 solid;
}
.margin-left-1 {
margin-left: 15px;
}
.padding-right-1 {
    padding-left: 15px;
}
.large-text {
    font-size:large;
    color:rgba(195, 195, 195, 0.582);
}
.heading {
    margin: 20px 0px;
}
hr {
    height: 1px;
    border: none;
    background-color: rgba(195, 195, 195, 0.582);
margin: 5px 0;
}
.date {
    border: #df4c73 solid 1px;
    color: white;
    padding: 5px 10px;
    display: inline-block;
    margin: 10px 0;
    border-radius: 10px;
}
.work-at {
    color:rgba(223, 76, 115,.8);

    font-size: large;
}
.about-work {
    font-size: medium;
}
@media screen and (min-width:992px){
    .profile {
        height: 600px;
    }
    .content {
        height: 600px;
        overflow: auto;
        
    }
    
}
@media screen and (max-width:992px) {
    .container {
        padding: 30px 20px;
    }
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #df4c73; 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #df4c73; 
      }
}
.content::-webkit-scrollbar {
    width: 10px;
  }
  
  .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .content::-webkit-scrollbar-thumb {
    background: #df4c73; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .content::-webkit-scrollbar-thumb:hover {
    background: #df4c73; 
  }